@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  overflow: auto;
  padding: 30px 50px 50px 50px;
  border: 1.5px solid black;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  color: white;
  display: inline-block;
  background: #FFE0E0;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px;
  font-size: 15px;  
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 2px 2px rgb(214, 213, 213);
  font-family: inherit;
  font-weight: 500;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}


.btn-block {
  color: white;
  background-color: black;
  display: block;
  width: 97.5%;
  height: 50px;
  
}

.task {
  background: #f4f4f4;
  border-radius: 10px;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task.reminder {
  border-left: 20px solid #90EE90;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}


.form-control input {
  width: 97.5%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 15px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 17px;
}

footer {
  margin-top: 30px;
  text-align: center;
}